* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333333;
  margin: 0;
}

:root {
  /* Global */
  --bg-color: #f7f7f7;
  --text-default: #333333;

  /* Fonts */
  --font-title-parent: "Poppins", sans-serif;
  --font-title-child: "Quicksand", sans-serif;
  --font-text: "Open Sans", sans-serif;

  /* Parent interface */
  --parent-primary: #84b082;
  --parent-secondary: #ffd5c2;
  --parent-text-secondary: #84b082;
  --parent-text-btn: white;

  /* Children interface */
  --child-primary: #ff9f8c;
  --child-secondary: #6b9ac4;
  --child-text-secondary: #6b9ac4;
  --child-text-btn: white;
}
