* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.7;
  background-color: var(--bg-light);
  color: var(--text-dark);
  margin: 0;
}

:root {
  /* New color palette */
  --blue-primary: #89bee1;
  --orange-primary: #ea9255;
  --yellow-accent: #e8b15d;
  --green-dark: #24604c;
  --white: #ffffff;

  /* Background colors */
  --bg-light: #e5e9de;

  /* Text colors */
  --text-dark: #0c1216;
  --text-light: #f9f8f6;
  --text-accent: #f3bb62;

  /* Fonts */
  --font-title: "Fredoka One", cursive;
  --font-text: "Inter", sans-serif;

  /* Border radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(12, 18, 22, 0.05);
  --shadow-md: 0 4px 6px rgba(12, 18, 22, 0.1);
  --shadow-lg: 0 8px 16px rgba(12, 18, 22, 0.15);
}
